<div id="signup" class="container">
    <div id="title" class="text-center">
        <img src="..\assets\logo.png" alt="" width="135" height="135" class="center-block"/>  
        <h2>{{Title}}</h2>
    </div>

    
    <div *ngIf="SubscribePart==true" id="subscribe" class="container text-center">
        <div class="row">
          <div class="col-lg">
            <input type="text" [(ngModel)]="User.Firstname" class="form-control" placeholder="Prénom">
          </div>
          <div class="col-lg">
            <input type="text" [(ngModel)]="User.Lastname" class="form-control" placeholder="Nom">
          </div>
        </div>
        <div class="row text-center" id="birthdayform">
          <div class="col-lg"> 
            <label for="">Date de naissance</label>
          </div>
          <div class="col-lg"> 
            <select  name="dayBirth" [(ngModel)]="DayBirth"  id="dayBirth" class="form-control">
              <option  [ngValue]="undefined" selected hidden>Jour</option>
              <option  *ngFor="let day of DayArray; let iteration = index;" value="{{iteration+1}}">{{iteration+1}}</option>
            </select>
          </div>
          <div class="col-lg"> 
            <select name="monthBirth" [(ngModel)]="MonthBirth" id="monthBirth" class="form-control">
              <option [ngValue]="undefined" selected hidden>Mois</option>
              <option value="01">Janvier</option><option value="02">Février</option>
              <option value="03">Mars</option><option value="04">Avril</option>
              <option value="05">Mai</option><option value="06">Juin</option>
              <option value="07">Juillet</option><option value="08">Août</option>
              <option value="09">Septembre</option><option value="10">Octobre</option>
              <option value="11">Novembre</option><option value="12">Décembre</option>
            </select>
          </div>
          <div class="col-lg"> 
            <select name="yearBirth" [(ngModel)]="YearBirth" id="yearBirth" class="form-control">
              <option [ngValue]="undefined" selected hidden>Année</option>
              <option *ngFor="let year of YearArray; let iteration=index;" value="{{Yearnow-iteration}}">{{Yearnow-iteration}}</option>
            </select>
          </div>
        </div>
        <div class="row text-center">
            <div class="col-lg">
              <input type="text" [(ngModel)]="User.Email" class="form-control" placeholder="E-mail">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg">
              <input type="text" [(ngModel)]="User.Password" class="form-control" placeholder="Mot de passe">
            </div>
        </div>
        <div class="row text-center">
          <div class="col-lg">
            <input type="submit" (click)="NextPartSubscribe(1)" class="btn" value="INSCRIPTION">
          </div>
      </div>
    </div>
    
    

    <div *ngIf="SubscribePart1==true" id="subscribe" class="container text-center">
      <div class="row">
        <div class="col-lg">
          <label for="Man">Homme</label>
          <input type="radio" name="gender" id="Man"  value="Man" (click)="ClassicGender()" [(ngModel)]="User.Sexe" >
        </div>
        <div class="col-lg">
          <label for="Woman">Femme</label>
          <input type="radio" name="gender" id="Woman" value="Woman" (click)="ClassicGender()" [(ngModel)]="User.Sexe">
        </div>
        <div class="col-lg">
          <label for="Another">Autre</label>
          <input type="radio" name="gender" id="Another" value=""  (click)="AnotherGender()" >
        </div>
      </div>
      <div *ngIf="AnGender==true" class="row text-center">
          <div  class="col-lg">
            <input type="text"  class="form-control" placeholder="Choisir votre genre" [(ngModel)]="User.Sexe">
          </div>
      </div>
      <div class="row text-center">
        <div class="col-lg">
          <input type="submit" (click)="LastPartSubscribe(1)" class="btn" value="Précédent">
        </div>
        <div class="col-lg">
          <input type="submit" (click)="NextPartSubscribe(2)" class="btn" value="Suivant">
        </div>
      </div>
      
  </div>
  {{User.Sexe}}
</div>