#header
{
    background-color: #6A38FF;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 70px;
}

button{
    border: 1px solid #6A38FF;
    background-color: #FFF;
    color: #6A38FF;
    
    font-size: 1.3em;
}