<div id="header" class="container-fluid">
    <div id="headerflex">
        <div id="title"class="row">
            <img src="..\assets\logo.png" alt="" width="70" height="70" />  
            <h1 id="titlename">VYWATCH</h1>
        </div>
        <div class="row" id="menu">
            <h5 class="menu"><a  routerLink="">Actualité</a></h5>
            <h5 class="menu"><a  routerLink="">Pourquoi VyWatch?</a></h5>
            <h5 class="menu"><a  routerLink="">Fonctionnalité</a></h5>
            <h5 class="menu"><a  routerLink="">VyWatch Deluxe</a></h5>
            <h5 class="menu"><a  routerLink="">Assistance</a></h5>
        </div>
    </div>
    
    
</div>


<div id="body">
    <div id="signorsignup">
        <div >
            <app-signin  class="sign"></app-signin>
        </div>
        <div id="information">
            <p >Tu n'as pas encore de compte ? <a class="lieninscription" routerLink="/register">S'incrire</a> </p>
        </div>
    </div>
</div>





<div id="background-wrap">
    <div class="animation">
        <div class="bubble x1"><fa-icon class="icon" [icon]="faHandshake"></fa-icon></div>
        <div class="bubble x2"><fa-icon class="icon" [icon]="faPrayingHands"></fa-icon></div>
        <div class="bubble x3"><fa-icon class="icon" [icon]="faAtom"></fa-icon></div>
        <div class="bubble x4"><fa-icon class="icon" [icon]="faMonument"></fa-icon></div>
        <div class="bubble x5"><fa-icon class="icon" [icon]="faHandshake"></fa-icon></div>
        <div class="bubble x6"><fa-icon class="icon" [icon]="faPrayingHands"></fa-icon></div>
        <div class="bubble x7"><fa-icon class="icon" [icon]="faAtom"></fa-icon></div>
        <div class="bubble x8"><fa-icon class="icon" [icon]="faMonument"></fa-icon></div>
        <div class="bubble x9"><fa-icon class="icon" [icon]="faHandshake"></fa-icon></div>
        <div class="bubble x10"><fa-icon class="icon" [icon]="faPrayingHands"></fa-icon></div>
        
    </div>
</div>

<div id="container">

</div>

<!--<input
  style="display: none"
  type="file" (change)="onFileChanged($event)"
  #fileInput>
<button (click)="fileInput.click()">Select File</button>
<button (click)="onUpload()">Upload!</button>-->