<div id="header" class="container-fluid">
    <div id="headerflex">
        <div id="title"class="row">
            <img src="..\assets\logo.png" alt="" width="75" height="75" class="center-block"/>  
            <h1>VYWATCH</h1>
        </div>
        <div class="row">
            <button routerLink="/signup" class="btn">INSCRIPTION</button>
            <button routerLink="/signin" class="btn">CONNEXION</button>
        </div>
        
    </div>
    
</div>



<input
  style="display: none"
  type="file" (change)="onFileChanged($event)"
  #fileInput>
<button (click)="fileInput.click()">Select File</button>
<button (click)="onUpload()">Upload!</button>