
<div id="navigation">
    <img src="..\assets\logo.png" alt="" width="75" height="75" class="img"/>  
    <h1 id="titlename">VYWATCH</h1>
        <div class="elementNav">
                    <p>Accueil</p>
        </div>
        <div class="elementNav">
                    <p>Notification</p>
        </div>
        <div class="elementNav">
                    <p>Mon profils</p>
        </div>
        <div class="elementNav">
                    <ul><p>Sujet principaux</p></ul>
                    <li>sujet1</li>
                    <li>sujet2</li>
                    <li>sujet3</li>
        </div>
        <div class="elementNav">
            <ul><p>Mes équipes</p></ul>
            <li>equipe1</li>
            <li>equipe2</li>
            <li>equipe3</li>
        </div>
        <div class="elementNav">     
                <p>About vywatch</p>
        </div>
        <div class="elementNav">    
                <p>Paramètre</p>
        </div>
</div>
