#container
{
    display: flex;
    flex-direction: row-reverse;
}


.messagesend
{
    position: fixed;
    bottom: 20px;
    width: 1470px;
    left: 50px;
}

#messagerie
{
      position: absolute;
      top:150px;
      border: 1px solid blue;
      overflow-y: auto;
      height: 600px;
      width: 1300px;
      left: 50px;
}



#messageleft
{
    
    color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
    height: 50px;
    width: 1250px;
    padding: 5px;
}

#messagerigth
{
   
    color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    height: 50px;
    width: 1250px;
    padding: 5px;
    text-align: right;
}

#messleft
{
    position: absolute;
    left: 15px;
    background-color: rgba(99, 49, 235, 0.445);
    max-width: 500px;
    border-radius: 10px;
}

#messrigth
{
    position: absolute;
    right: 15px;
    background-color: rgba(45, 145, 211, 0.582);
    max-width: 800px;
    border-radius: 10px;
}

span
{
    display: flex;
    flex-direction: column;
}





