<!--<div *ngFor="let message of messages">
    {{message}}
</div>

<input [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()" />
<button (click)="sendMessage()">Send</button>-->




<div class="chat-messages">
    <div class="chat-messages-show-container" >
      <ul class="chat-messages-show-list" *ngFor="let message of messages">
        {{message}}
      </ul>
    </div>
    <div class="chat-messages-create-container"> 
      <input class="chat-messages-create-input" type="text" [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()">
      <button  class="chat-messages-create-button" (click)="sendMessage()"> Send </button>
    </div>
 </div>