h4
{
    color: #6A38FF;
    margin-top: 50px;
    font-size: 1.2em;
}

h6{
    color: #6A38FF;
    font-size: 1em;
}
p{
    margin-top: 50px;
}

input
{
    margin-top: 25px;
   
}

input[type="submit"]
{
    border: 1px solid #6A38FF;
    background-color: #6A38FF;
    color: #fff;
    width: 200px;
    height: 50px;
    font-size: 1.3em;
}

input[type="submit"]:disabled
{
    background-color: #6a38ffe1;
}

input[type="submit"]:hover
{
    background-color: #6a38ffe1;
}

input[type="radio"]
{

   margin-left: 5px;
    
}




#title
{
    margin-bottom: 20px;
}



#birthdayform
{
    margin-top: 25px;
}

#carousel
{
    width: 1000px;
    margin-top: 100px;
    margin-left: 20px;
}

.plus
{
    font-size: 3.5em;
}
.buttonadd{
    width:85px;
	height:85px;
	background:#fafafa;
	font:bold 13px Arial;
	border-radius:50%;
    color:#555;
    margin-bottom: 150px;
    margin-top: 20px;
}

.description
{
    margin-top: -50px;
}

.buttonadd:hover{
    width:85px;
	height:85px;
	background:#6A38FF;
	font:bold 13px Arial;
	border-radius:50%;
	color:#fafafa;
}

#bodysub
{
    display: flex;
   
}

#listsub
{
    margin-left: 300px;
    margin-top: 100px;
}

.buttonminus{
	width:50px;
    height:50px;
    border-radius:50%;
    border-color: #6A38FF;
}

.moin
{
    font-size: 1.5em;
    color: #6A38FF;
}

td {
    
    padding: 20px;
  }


.iconsub
{
    color: #6A38FF;
    font-size: 1.5em;
}

.buttonsend
{
    background-color: #6A38FF;
    margin-left: 42%;
    color: #fafafa;
    margin-top: 50px;
    width: 150px;
}


