<app-sidenav></app-sidenav>



<form  class="search"(ngSubmit)="onSubmitArray1(t)"  #t="ngForm">
    <input type="text" [(ngModel)]="search" list="airports" ngModel name="pseudo">  
    <datalist id="airports"  ngValue="{allUser.pseudo}" >
        <option *ngFor="let pseudoSearche of pseudoSearch | filter:search" >
            <h4> {{pseudoSearche}}</h4>
        </option>
        </datalist>
 
    <button class="btn-list">search</button>
  </form>

  

    <div class="all">
   
            <div *ngFor="let post of posts  let i = index;" class="post" (click)="getId(post.idpost, post.text, post.pseudo)">
                <img [src]="usersimg[i]" class="profilPic">
                <p class="pseudo">{{post.pseudo}}</p>
                <p> {{post.text}}</p>
                <img [src]="imageTodispplays[i]" class="reussiGrand">
                    
                    

            </div>


            <div class="modal-bg">
                <div class="model">
                    <div class="text">
                    <h3>{{post.pseudo}}</h3>
                    <p>{{post.text}}</p>
                    <img [src]="retrievedImage" class="reussi">
                    <div class="text-fa">
                        <fa-icon [icon]="faHeart" class="fa-com-like"></fa-icon>
                        <fa-icon [icon]="faComments" class="fa-com" ></fa-icon>
                        <div  *ngFor="let comment of comments" class="">
                            <div class="infos">
                                <p class="comment-pseudo">{{comment.pseudo}} : </p>
                                <p class="comment-text">{{comment.textcomment}}  </p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
    </div>

