
<div id="signup" class="container">
    <div id="title" class="text-center">
        
        <h2>{{Title}}</h2>
    </div>

    <form [formGroup]="SubscribeForm" (ngSubmit)="NextPartSubscribe(1)"  id="subscribe" class="container text-center">
      <div *ngIf="SubscribePart==true">
        <div class="row">
          <div class="col-lg">
            <input type="text" id="firstName"  class="form-control" placeholder="Prénom" formControlName="firstName" required>
          </div>
          <div class="col-lg">
            <input type="text" id="lastName"  class="form-control" placeholder="Nom" formControlName="lastName" required>
          </div>
        </div>
        <div class="row text-center" id="birthdayform">
          <div class="col-lg"> 
            <label for="">Date de naissance</label>
          </div>
          <div class="col-lg"> 
            <select  name="dayBirth" id="dayBirth" class="form-control" formControlName="dayBirth">
              <option  [ngValue]="null" disabled hidden selected>Jour</option>
              <option  *ngFor="let day of DayArray; let iteration = index;"  value="{{iteration+1}}">{{iteration+1}}</option>
            </select>
          </div>
          <div class="col-lg"> 
            <select name="monthBirth"  id="monthBirth" class="form-control"   formControlName="monthBirth">
              <option [ngValue]="null" disabled hidden selected>Mois</option>
              <option value="1">Janvier</option><option value="2">Février</option>
              <option value="3">Mars</option><option value="4">Avril</option>
              <option value="5">Mai</option><option value="6">Juin</option>
              <option value="7">Juillet</option><option value="8">Août</option>
              <option value="9">Septembre</option><option value="10">Octobre</option>
              <option value="11">Novembre</option><option value="12">Décembre</option>
            </select>
          </div>
          <div class="col-lg"> 
            <select name="yearBirth"  id="yearBirth" class="form-control" formControlName="yearBirth">
              <option [ngValue]="null" disabled hidden selected>Année</option>
              <option *ngFor="let year of YearArray; let iteration=index;" value="{{Yearnow-iteration}}">{{Yearnow-iteration}}</option>
            </select>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-lg">
            <input type="email"  class="form-control" placeholder="E-mail" formControlName="email" required>
          </div>
        </div>
        <div class="row text-center">
            <div class="col-lg">
              <input type="password"  class="form-control" placeholder="Mot de passe" formControlName="password" required>
            </div>
        </div>
        <div class="row text-center">
          <div class="col-lg">
            <input type="submit"  class="btn" value="INSCRIPTION" >
          </div>
        </div>
      </div>
    </form>


    <div *ngIf="SubscribePart1==true" id="subscribe" class="container text-center">
      <div class="row">
        <div class="col-lg">
          <label for="Man">Homme</label>
          <input type="radio" name="gender" id="Man"  value="Man" (click)="ClassicGender()" [(ngModel)]="User.sexe" >
        </div>
        <div class="col-lg">
          <label for="Woman">Femme</label>
          <input type="radio" name="gender" id="Woman" value="Woman" (click)="ClassicGender()" [(ngModel)]="User.sexe">
        </div>
        <div class="col-lg">
          <label for="Another">Autre</label>
          <input type="radio" name="gender" id="Another" value=""  (click)="AnotherGender()" >
        </div>
      </div>
      <div *ngIf="AnGender==true" class="row text-center">
          <div  class="col-lg">
            <input type="text"  class="form-control" placeholder="Choisir votre genre" [(ngModel)]="User.sexe">
          </div>
      </div>
      <div class="row text-center">
        <div class="col-lg">
          <input type="submit" (click)="LastPartSubscribe(1)" class="btn" value="Précédent">
        </div>
        <div class="col-lg">
          <input type="submit" (click)="NextPartSubscribe(2)" class="btn" value="Suivant">
        </div>
      </div>
    </div>


  <div *ngIf="SubscribePart2==true" id="subscribe" class="container text-center">
    <div class="row text-center">
      <div  class="col-lg">
        <h6>CHOISIR UN PSEUDO</h6>
      </div>
    </div>
    <div class="row text-center">
        <div  class="col-lg">
          <input type="text"  class="form-control" placeholder="Choisir un nom d'utilisateur" [(ngModel)]="User.pseudo">
        </div>
    </div>
    <div class="row text-center">
      <div  class="col-lg">
        <p>CE NOM SERA VISIBLE PAR TOUT LE MONDE</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg">
        <input type="submit" (click)="LastPartSubscribe(2)" class="btn" value="Précédent">
      </div>
      <div class="col-lg">
        <input type="submit" (click)="NextPartSubscribe(3)" class="btn" value="Suivant">
      </div>
    </div>
  </div>

  <div *ngIf="SubscribePart3==true" id="subscribe" class="container text-center">
    <div class="row text-center">
      <div  class="col-lg">
        <p>En cliquant sur suivant, vous accepter les régles de confidentialité
        ainsi que la politique d'utilisation de VYWATCH</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg">
        <input type="submit" (click)="LastPartSubscribe(3)" class="btn" value="Précédent">
      </div>
      <div class="col-lg">
        <input type="submit" (click)="CreatUser()" class="btn" value="Suivant">
      </div>
    </div>
  </div>
</div>